body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(13, 31%, 94%);
  font-family: "Red Hat Text", sans-serif;
}
.heroContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}
.desertsContainer {
  flex: 2;
}
.cartsContainer {
  /* width: 100%; */
  flex: 1;
  /* background-color: green; */
  height: fit-content;
  margin-right: 2rem;
}
.cartsContainerBox {
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem 1rem;
}
.cartSatus {
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}
.emptyCartBox {
  display: none;
}
.emptyCartBox div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyCartBox div p {
  font-size: small;
  color: hsl(12, 20%, 44%);
  font-weight: 600;
}
.emptyCartBox div img {
  object-fit: cover;
}
.desertsBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex;
  flex-wrap: wrap; */
}

.cartData {
  display: none;
}
.desertCard {
  width: 16rem;
  height: fit-content;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
/* .desertsBoxElContent{
  width: 16rem;
  height: fit-content;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
 } */
.desertCard img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.desert-data {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.desert-data span:nth-child(1) {
  font-size: 16px;
  color: hsl(7, 20%, 60%);
  font-size: small;
}
.desert-data span:nth-child(2) {
  font-weight: 600;
}
.desert-data span:nth-child(3) {
  color: hsl(14, 86%, 42%);
  font-weight: 500;
}

.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
  position: absolute;
  top: 59%;
  left: 14.5%;
  cursor: pointer;
  border: none;
  padding: 10px 10px;
  border-radius: 25px;
  width: 70%;
  border: 1px solid hsl(7, 20%, 60%);
}
.addToCart:hover {
  border: 1px solid hsl(14, 86%, 42%);
}

.cart {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.productName {
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 16px;
  color: hsl(14, 65%, 9%);
}
.cartContent {
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
.closeIcon {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border: 1px solid hsl(7, 20%, 60%);
  border-radius: 50%;
}
.cartContent div {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.count {
  font-size: small;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}
.cartContent div p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cartContent div p span:nth-child(1) {
  color: hsl(7, 20%, 60%);
  font-size: small;
  font-weight: 600;
}
.cartContent div p span:nth-child(2) {
  color: hsl(12, 20%, 44%);
  font-size: small;
  font-weight: 700;
}
.OrderFooter {
  width: 100%;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total p:nth-child(1) {
  font-size: small;
}
.total p:nth-child(2) {
  font-weight: 700;
  font-size: 16px;
}
.orderMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 10px;
  margin-bottom: 25px;
}
.orderMessage p {
  font-size: small;
}
.orderMessage p span {
  font-weight: 600;
}
.OrderFooter button {
  border: none;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  background-color: hsl(14, 86%, 42%);
  color: white;
  font-size: small;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
}
.modal-content h4 {
  font-weight: 800;
  font-size: x-large;
  margin-top: 3px;
}
.modal-content button{
  border: none;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  background-color: hsl(14, 86%, 42%);
  color: white;
  font-size: small;
  cursor: pointer;
  margin-top: 20px;
}
.confirmMessage {
  margin-top: -30px;
  font-size: small;
  color: hsl(14, 25%, 72%);
}
.checkIcon {
  width: 25px;
}
.checkBox {
  width: 20px;
  height: 20px;
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid hsl(159, 69%, 38%);
}
.cartDataInfo {
  background-color: hsl(20, 50%, 98%);
  padding: 12px 13px;
  border-radius: 8px;
}
.confirmCartItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
.confirmCartImg {
  display: flex;
  gap: 10px;
}
.confirmCartText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productName {
  font-weight: 700;
  font-size: 14px;
  color: hsl(14, 65%, 9%);
}
.cartPrice {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: small;
}
.confirmCartItems img {
  width: 60px;
  object-fit: cover;
  border-radius: 6px;
}
.totalPrice {
  font-weight: 700;
}
.orderTotalValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.price {
  color: hsl(7, 20%, 60%);
}
.orderTotalText {
  font-size: small;
  color: hsl(12, 20%, 44%);
}
.OrderTotalPriceValue {
  font-weight: 700;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .desertsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desertCard {
    width: 20.5rem;
    position: relative;
    margin-right: 0;
  }
  .desertCard img {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
    position: absolute;
    top: 65%;
    left: 14.5%;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    border-radius: 25px;
    width: 70%;
    border: 1px solid hsl(7, 20%, 60%);
  }
}
